<h1>Deedi's Crafts</h1>
<p>Crochet, Plastic Canvas, Cross Stitch, and LOTS MORE!</p>
<b />
  <h1>Sample Items, Orders Accepted</h1>
  <img src="/home/ricky/deediscrafts/app/assets/images/130602_0000.jpg" alt="first image" width="225" height="225">
